.view-def {
    padding: 4px 12px;
    margin: 1px 0;
    border: 1px solid rgba(217, 217, 217, 0.4);
    line-height: 2;
}
.view-def .header {
    font-size: 16px;
}
.view-def .header .view-link + .view-badge {
    font-size: 12px;
    margin-left: 1ex;
}
.view-def .view-spec-location {
    font-size: 12px;
}
