.view-definition {
    border: 1px solid rgba(101, 158, 191, 0.3);
    border-radius: 4px;
    overflow: hidden;
    padding: 2px;
    margin-bottom: .5em;
}
.view-definition > .view-header {
    background: rgba(115, 195, 235, 0.2);
    margin: -2px;
    margin-bottom: 2px;
    padding: 4px 18px;
    font-size: 14px;
}
.view-definition > .view-key-value {
    width: calc(100% - 8px);
}
.view-definition .view-key-value-item-value {
    width: 100%;
}
.view-definition > .view-source {
    border-radius: 0;
}
