.view-key-value {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    margin: 1px 0;
    padding: 4px 8px;
    background-color: rgba(155, 155, 155, 0.05);
}

.view-key-value-item-key,
.view-key-value-item-value {
    border-width: 0;
    font-size: 12px;
}
.view-key-value-item-key ~ .view-key-value-item-key,
.view-key-value-item-value ~ .view-key-value-item-value {
    border-top: 1px solid rgba(187, 187, 187, 0.25);
}

.view-key-value-item-key {
    padding: 2px 12px 2px 8px;
    color: #888;
}
.view-key-value-item-value {
    padding: 2px 0;
}
.view-key-value-item-value > .view-struct {
    padding: 5px 4px;
    margin: 0;
}

.view-key-value .more-buttons {
    grid-column: 1/3;
}
