.discovery-sidebar .view-tabs {
    height: 100%;
}

.discovery-sidebar .view-toc-section > .header {
    display: flex;
    text-transform: none;
}
.discovery-sidebar .view-toc-section.empty > .content {
    display: none;
}

.discovery-sidebar .header > .view-link {
    color: #dd0077;
    text-decoration-color: #dd007763;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.discovery-root-darkmode .discovery-sidebar .header > .view-link {
    color: #b74884;
    text-decoration-color: #b7488480;
}
.discovery-sidebar .header > .view-link:hover {
    text-decoration-color: currentColor;
}

.discovery-sidebar .view-badge {
    font-size: 11px;
    color: #635d33;
    background-color: rgba(182, 167, 60, 0.4);
    opacity: .5;
    margin-left: 3px;
}
.discovery-root-darkmode .discovery-sidebar .view-badge {
    color: #dcd7ad;
    background-image: none;
}

.discovery-sidebar .variants {
    display: inline-block;
    margin: 0 4px;
    color: #888;
    font-size: 12px;
}

.view-link + .view-pill-badge,
.view-link + .view-badge,
.view-link + .view-inline-list {
    margin-left: 4px;
    margin-right: 0;
}
.view-badge + .view-inline-list,
.view-pill-badge + .view-inline-list,
.view-list-item .view-badge:last-child,
.view-badge + .view-badge,
.view-badge + .view-pill-badge,
.view-pill-badge + .view-badge,
.view-pill-badge + .view-pill-badge {
    margin-left: 2px;
    margin-right: 0;
}
