.view-syntax .view-link {
    white-space: nowrap;
}
.view-syntax .error {
    color: #d00c !important;
}
.view-syntax .match {
    background: #fff4ad;
    box-shadow: 0 1px 0 2px #fff4ad;
    white-space: nowrap;
    border-radius: 3px;
}
.view-syntax.parse-error {
    display: inline-block;
    padding: 4px 8px;
    font-family: Consolas, Menlo, Courier New, monospace;
    font-size: 90%;
    line-height: 1.5;
    white-space: pre-wrap;
    color: #d00c;
    background: #fdd;
}
